@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-bg-light: #fafafa;
    --navbar-bg-light: #ffffff;
    --post-bg-light: #ffffff; 
    --action-hover-light: rgba(219,219,219,0.3);
    --action-button-light: rgba(0,149,246, 1);
    --post-button-disabled-light: rgba(82,182,247, 1);
    --border-light: rgb(219,219,219);
    --big-text-light: #000000;
    --small-text-light: rgba(63, 63, 63, 0.747);
    --clone-text-color-light: rgb(209, 58, 255);
    /* dark */
    --main-bg-dark: rgba(26, 26, 26, 0.747);
    --navbar-bg-dark: rgba(22, 22, 22, 0.747);
    --post-bg-dark: rgba(19, 19, 19, 0.747);
    --action-hover-light: rgba(219,219,219,0.2);
    --border-dark: rgba(73, 73, 73, 0.1);
    --big-text-dark: #FFFFFF;
    --small-text-dark: rgba(184, 184, 184, 0.747);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body{
  background-color: var(--main-bg-light);
}

/* navbar--------------------------------------------- */
nav{
  background-color: var(--navbar-bg-light);
  width: 275px;
  border-right: 1px solid var(--border-light);
}

.brand_logo_container{
  margin-top: 10px;
  padding-left: 20px;
}

.brand_logo img{
  filter: contrast(200%);
}

.brand_logo_clone_text{
  color: var(--clone-text-color-light);
}

.navlinks a{
  display: flex;
  gap: 20px;
  padding: 20px 20px;
  border-radius: 8px;
  align-items: center;
}

.navlinks a:hover{
  background-color: var(--action-hover-light);
}

/* comment----------------------------------------------- */
.add_comment{
  display: flex;
  align-items: center;
  border-top: 1px solid var(--border-light);
}

.add_comment .post_comment{
  font-size: 14px;
  font-weight: 500;
  color: rgb(44, 117, 226);
  padding: 10px;
}

.add_comment div:first-child{ 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-direction: row-reverse;
  border: none;
}

.add_comment div div:first-child{ 
  flex-direction: row;
}

.add_comment button svg{
  fill: var(--small-text-light)
}

.add_comment div:first-child nav{
  background-color: var(--main-bg-light);
}

.add_comment div:first-child nav button span{
  filter: contrast(1%);
}

.add_comment div > div:nth-child(1){
  width: 100%;
  background-color: transparent;
}

.add_comment div section{
  margin-left: 5px ;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.add_comment div div div div:nth-child(1){
  color: var(--small-text-light);
}

.add_comment div div div:nth-child(3){
  color: var(--big-text-light);
  font-weight: 300;
  font-size: 14px;
}

.add_comment div section input{
  margin-bottom: 0px;    
  width: 100%;
  height: 30px;
}

.add_comment div section ul{
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.add_comment .post_button{
  color: var(--action-button-light);
}

/* story--------------------------------------------------- */
.stories{
  border: 1px solid var(--border-light)
}

/* newsfeed----------------------------------------------- */
.newsfeed{
  width: 470px;
}

.newsfeed ul.posts li{
  border: 1px solid var(--border-light);
}

/* account------------------------------------------------- */
.account{
  width: 319px;
  height: 100%;
}

.switch_button{
  color: var(--action-button-light);
}

.see_all_button{
  color: var(--big-text-light);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(255, 255, 255);
    background: rgb(31, 31, 31);
  }
}
